[Unit]
Description=gpg4win to wsl2 gpg proxy
After=network.target

[Service]
Type=simple
ExecStart=socat UNIX-LISTEN:"%t/gnupg/S.gpg-agent,fork" EXEC:"@WSL2_BRIDGE_BIN@ gpg --socket S.gpg-agent"

[Install]
WantedBy=default.target
