
[Unit]
Description=openssh-agent to wsl2 proxy 
After=network.target

[Service]
Type=simple
ExecStart=socat UNIX-LISTEN:"%t/ssh-agent.sock,fork" EXEC:"/mnt/c/tools/wsl2-bridge-rs.exe pipe --name //./pipe/openssh-ssh-agent"

[Install]
WantedBy=default.target
